<h1>List of archives PDF 2022</h1>
<div>
  <ul>
    <li class="list" *ngFor="let item of list">{{item.title}}
      <button (click)="downloadFiles2(item)">Download</button>
    </li>
  </ul>
</div>
<button style="display: block; background-color: yellow" (click)="downloadFiles()">Download all docs without libraries</button>
<button style="display: block; background-color: aqua" (click)="generateZip()">Download doc.zip with File-save + JsZip Library</button>
<button style="display: block; background-color: lightgreen" (click)="generateZip()">Download docs.zip only with JsZip Library</button>



